<section class="header">
  <form [formGroup]="userForm" (ngSubmit)="saveProcedure()">
    <!-- header page -->
    <div class="flex justify-content-between">
      <p-toast></p-toast>
      <h1 class="">Novo Procedimento</h1>
      <div class="flex justify-content-center">
        <div class="flex gap-3">
          <button
            pButton
            class="p-button-success"
            icon="pi pi-save"
            label="Salvar"
            type="submit"
            [disabled]="this.userForm.invalid"
          ></button>
          <button
            pButton
            class="p-button-warning"
            icon="pi pi-times-circle"
            label="Cancelar"
            type="button"
            (click)="cancel()"
          ></button>
        </div>
      </div>
    </div>
    <!-- content page -->
    <section class="content pt-5 grid">
      <div class="field p-float-label col-6">
        <input class="w-full" pInputText formControlName="label" type="text" />
        <label>Nome</label>
      </div>
      <div class="field p-float-label col-6 flex">
        <input class="w-full" pInputText formControlName="value" type="number" placeholder="R$ 00,00"/>
        <label>Preço</label>
      </div>
    </section>
  </form>
  <div class="card flex">

<!--
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">
          Nome <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="procedure">
          Procedimento <p-sortIcon field="procedure"></p-sortIcon>
        </th>
        <th pSortableColumn="date">
          Data <p-sortIcon field="date"></p-sortIcon>
        </th>
        <th pSortableColumn="hours">
          Horário <p-sortIcon field="hours"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template> -->


    <!-- <ng-template pTemplate="body" let-booking>
      <tr>
        <td>
          <p-tableCheckbox [value]="booking"></p-tableCheckbox>
        </td>

        <td style="min-width: 10rem">
          <span class="p-column-title">Nome</span>
          {{ booking.name }}
        </td>

        <td style="min-width: 10rem">
          <span class="p-column-title">Procedimento</span>
          {{ booking.procedure }}
        </td>

        <td style="min-width: 10rem">
          <span class="p-column-title">Data</span>
          {{ booking.date }}
        </td>

        <td style="min-width: 10rem">
          <span class="p-column-title">Horário</span>
          {{ booking.hours }}
        </td>

        <td>
          <div class="flex">
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success mr-2 gap-2"
              (click)="editBooking(booking)"
            >EDITAR</button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-warning gap-2"
              (click)="delete()"
            >DELETAR</button>
          </div>
        </td>
      </tr>
    </ng-template> -->

    <p-virtualScroller
      [value]="procedures"
      class="border-1 surface-border border-round"
      [style]="{ width: '300px' }"
      scrollHeight="200px"
      [itemSize]="50"
    >
      <ng-template pTemplate="item" let-procedure>
        <div class="p-2 h-full">
          {{ procedure.label }}, R$: {{ procedure.value }}
        </div>
      </ng-template>
    </p-virtualScroller>
  </div>
</section>
