<section class="grid">
  <p-panel
    header="Dados Básicos"
    class="col-12 mt-4"
    [collapsed]="false">
    <p-tabView (onChange)="selectTypeUser($event)" >
      <p-tabPanel header="Usuário">
        <!-- <app-user-create>
          *ngIf="event.index === 0"
        </app-user-create> -->
        <app-staff-create>
          *ngIf="event.index === 1"
        </app-staff-create>
      </p-tabPanel>
      <p-tabPanel header="Colaborador">
      </p-tabPanel>
    </p-tabView>
  </p-panel>
</section>
