<section class="grid">
  <p-panel header="Dados Básicos" class="col-12 mt-4" [collapsed]="false">
    <section class="">
      <form [formGroup]="userForm" (ngSubmit)="saveAgenda()">
        <!-- header page -->
        <div class="flex justify-content-between">
          <h1 class="">Novo Agendamento</h1>
          <div class="flex justify-content-center">
            <div class="flex gap-3">
              <button
                pButton
                class="p-button-success"
                icon="pi pi-save"
                label="Salvar"
                type="submit"
                [disabled]="this.userForm.invalid"
              ></button>
              <button
                pButton
                class="p-button-warning"
                icon="pi pi-times-circle"
                label="Cancelar"
                type="button"
                (click)="cancel()"
              ></button>
            </div>
          </div>
        </div>
        <!-- content page -->
        <section class="content pt-5 grid">
          <div class="field p-float-label col-6">
            <p-dropdown
              styleClass="w-full"
              formControlName="name"
              [resetFilterOnHide]="true"
              [filter]="true"
              [options]="clients"
              optionLabel="name"
              placeholder="Nome do Cliente"
            ></p-dropdown>
            <label>Nome do Cliente</label>
          </div>

          <div class="field p-float-label col-6 flex">
            <p-dropdown
              styleClass="w-full"
              formControlName="procedure"
              [resetFilterOnHide]="true"
              [filter]="true"
              [options]="procedures"
              optionLabel="name"
              placeholder="Procedimento"
            ></p-dropdown>
            <label>Procedimento</label>
            <div class="col-3 flex align-content-center">
              <div *ngIf="this.userForm.get('procedure')"> Valor: R$ {{this.userForm.get('procedure')?.value?.id}}</div>
            </div> </div>

          <div class="field p-float-label col-6">
            <p-calendar
              styleClass="w-full"
              dateFormat="dd/mm/yy"
              formControlName="date"
              [minDate]="currentDate"
            >
            </p-calendar>
            <label>Data</label>
          </div>

          <div class="field p-float-label col-6">
            <p-dropdown
              styleClass="w-full"
              formControlName="hours"
              [options]="hours"
              optionLabel="name"
              placeholder="Horário"
            ></p-dropdown>
            <label>Horário</label>
          </div>
        </section>
      </form>
    </section>
  </p-panel>
</section>
