<div class="h-30rem flex justify-content-center align-items-center">
  <p-card
    styleClass="m-auto w-8 p-fluid shadow-8"
  >
    <input
      class="field text-center"
      pInputText
      placeholder="Nome"
      id="username"
      type="text"
    />
    <input
      class="field mb-0 text-center"
      pInputText
      placeholder="Senha"
      id="password"
      type="password"
    />
    <p-divider></p-divider>
    <p-button
    routerLink="/home"
    label="Entrar"
    ></p-button>
    <p-button
      routerLink="/signup"
      label="Registrar"
      styleClass="p-button-success mt-1"
    ></p-button>
  </p-card>
</div>
