<section class="grid">
  <p-panel
    header="Dados Básicos"
    class="col-12 mt-4 bg-primary"
    [collapsed]="false">
    <p-tabView (onChange)="selectTypeUser($event)" >
      <p-tabPanel header="Cliente">
        <app-client-create>
          *ngIf="event.index === 0"
        </app-client-create>
      </p-tabPanel>
      <p-tabPanel header="Colaborador">
        <app-staff-create>
          *ngIf="event.index === 1"
        </app-staff-create>
      </p-tabPanel>
      <p-tabPanel header="Procedimento">
        <app-procedure-create>
          *ngIf="event.index === 2"
        </app-procedure-create>
      </p-tabPanel>
    </p-tabView>
  </p-panel>
</section>
