<section class="header">
  <p-toast></p-toast>
  <form [formGroup]="userForm" (ngSubmit)="save()">
    <!-- header page -->
    <div class="flex justify-content-between">
    </div>
    <!-- content page -->
    <section class="content pt-5 grid">
      <div class="p-card col-6 justify-content-center">
        <h1 class="text-center">Novo Colaborador</h1>
        <div class="field p-float-label mt-7">
          <input
            class="w-full"
            pInputText
            formControlName="name"
            type="text"
            placeholder="Ex: Dra. Dayanne"
            [required]="true"
          />
          <label>Nome Completo</label>
        </div>
        <div class="field p-float-label">
          <p-multiSelect
            styleClass="w-full"
            formControlName="procedures"
            [resetFilterOnHide]="true"
            [options]="procedures"
            optionLabel="name"
            placeholder="Serviços"
          ></p-multiSelect>
          <label>Serviços</label>
        </div>
        <div class="field p-float-label">
          <p-multiSelect
            styleClass="w-full"
            formControlName="procedures"
            [resetFilterOnHide]="true"
            [options]="procedures"
            optionLabel="name"
            placeholder="Horários"
          ></p-multiSelect>
          <label>Horários</label>
        </div>
        <div class="flex justify-content-center">
          <button
            pButton
            class="p-button-success"
            icon="pi pi-save"
            label="Salvar"
            type="submit"
            [disabled]="this.userForm.invalid"
          ></button>
          <button
            pButton
            class="p-button-warning"
            icon="pi pi-times-circle"
            label="Cancelar"
            type="button"
            (click)="cancel()"
          ></button>
        </div>
      </div>

      <div class="p-card col-6">
        TABELA DE DIAS E HORARIOS
      </div>
    </section>
  </form>
</section>
