<section class="header">
  <p-toast></p-toast>
  <form [formGroup]="userForm" (ngSubmit)="save()">
    <section class="content pt-5 grid">
      <div class="p-card col-12 justify-content-center">
        <h1 class="text-center">Novo Colaborador</h1>
        <div class="field p-float-label mt-7">
          <input
            class="w-full"
            pInputText
            formControlName="name"
            type="text"
            placeholder="Ex: Dra. Dayanne"
            [required]="true"
          />
          <label>Nome Completo</label>
        </div>
        <div class="field p-float-label">
          <p-multiSelect
            styleClass="w-full"
            formControlName="services"
            [resetFilterOnHide]="true"
            [options]="services"
            optionLabel="name"
            placeholder="Serviços"
          ></p-multiSelect>
          <label>Serviços</label>
        </div>
        <div class="field p-float-label">
          <p-dropdown
            styleClass="w-full"
            formControlName="weekday"
            [resetFilterOnHide]="true"
            [options]="weekdays"
            optionLabel="label"
            placeholder="Dia"
          ></p-dropdown>
          <label>Dia</label>
        </div>
        <div class="field p-float-label">
          <p-multiSelect
            styleClass="w-full"
            formControlName="time"
            [resetFilterOnHide]="true"
            [options]="hours"
            optionLabel="label"
            placeholder="Horários"
          ></p-multiSelect>
          <label>Horários</label>
        </div>
        <div class="flex justify-content-center">
          <button
            pButton
            class="p-button-success"
            icon="pi pi-save"
            label="Salvar"
            type="submit"
            [disabled]="this.userForm.invalid"
          ></button>
          <button
            pButton
            class="p-button-warning"
            icon="pi pi-times-circle"
            label="Cancelar"
            type="button"
            (click)="cancel()"
          ></button>
        </div>
      </div>

      <div class="card">
        <div *ngFor="let each of staff">
          <br>
          <br>
          -----NOME-----
          <br>
          <br>
          <div>{{ each.name }}</div>
          <br>
          <br>
          -----SERVIÇOS-----
          <br>
          <br>
          <div *ngFor="let each of parseServicesObject(each.services)">
            <div>{{ each.name }}</div>
          </div>
          <br>
          <br>
          -----HORÁRIOS-----
          <br>
          <br>
          <div  *ngFor="let each of parseJsonArray(each.time)">
            <div>{{ each.label }}</div>
          </div>
        </div>
        <!-- <p-table [value]="hours" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Horarário</th>
              <th>Colaborador</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowIndex="rowIndex" let-staffByHour>
            <tr> {{ hours[rowIndex].label }}
              <td>
                <ul>
                  <li *ngFor="let each of getStaffByHour(hours[rowIndex].value, this.staff)">
                    {{ each | json }} : {{ each.services }}
                  </li>
                </ul></td>
            </tr>
          </ng-template>
        </p-table> -->
      </div>
    </section>
  </form>
</section>
