 <!-- HERO -->
  <section class="hero-content flex justify-content-evenly align-items-center">
    <div class="hero-text flex flex-column align-items-end">
      <h1 class="lh-1 mb-3">O seu bem-estar começa agora!</h1>
      <p class="lead">Aqui a nossa familia cuida da sua!</p>
      <div class="hero-buttons">
        <p-button> 01 </p-button>
        <p-button> 02 </p-button>
      </div>
    </div>
    <div class="hero-img">
      <img
        class="w-25rem border-round-3xl"
        src="../../../../assets/img/portfoliotop.jpg"
      />
    </div>
  </section>

  <!-- INFO -->
  <!-- <p-card >
    <p-carousel
    styleClass="w-7"
    [value]="products"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="true"
    >
    <ng-template let-product pTemplate="item">
      <div class="border-1 surface-border border-round m-2 text-center py-2">
        <h4 class="mb-1">{{ product.name }}</h4>
        <p-image
        class="border-2 border-blue-50"
        [src]="product.image"
        ></p-image>
        <p>{{ product.description }}</p>
        <p-button
        type="button"
        styleClass="p-button p-button-rounded mr-2"
        icon="pi pi-search"
        ></p-button>
      </div>
    </ng-template>
  </p-carousel>
</p-card> -->

  <!-- DONAS -->
  <p-card class="flex justify-content-center">
    <div class="gallery-owner ">
        <img src="../../../../assets/img/dayannetop.jpg" />
        <img src="../../../../assets/img/portfoliotop.jpg" />
        <img
        src="../../../../assets/img/julianatop1.jpg"
        style="border-top-right-radius: 50px"
        />
        <img
        src="../../../../assets/img/dayannebottom.jpg"
        style="border-bottom-left-radius: 50px"
        />
        <img src="../../../../assets/img/portfoliobottom.jpg" />
        <img src="../../../../assets/img/julianabottom1.jpg" />
      </div>
</p-card>
