<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-table
        #dt
        [value]="agenda"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="['name', 'procedure']"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedUser"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <div class="my-2">
              <button
                pButton
                pRipple
                label="Novo"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                routerLink="/criar"
              ></button>
              <button
                pButton
                pRipple
                label="Deletar"
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="delete()"
                [disabled]="!selectedUser || !selectedUser.length"
              ></button>
            </div>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Buscar..."
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name">
              Nome <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="procedure">
              Procedimento <p-sortIcon field="procedure"></p-sortIcon>
            </th>
            <th pSortableColumn="date">
              Data <p-sortIcon field="date"></p-sortIcon>
            </th>
            <th pSortableColumn="hours">
              Horário <p-sortIcon field="hours"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-booking>
          <tr>
            <td>
              <p-tableCheckbox [value]="booking"></p-tableCheckbox>
            </td>

            <td style="min-width: 10rem">
              <span class="p-column-title">Nome</span>
              {{ booking.name }}
            </td>

            <td style="min-width: 10rem">
              <span class="p-column-title">Procedimento</span>
              {{ booking.procedure }}
            </td>

            <td style="min-width: 10rem">
              <span class="p-column-title">Data</span>
              {{ booking.date }}
            </td>

            <td style="min-width: 10rem">
              <span class="p-column-title">Horário</span>
              {{ booking.hours }}
            </td>

            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2 gap-2"
                  (click)="editBooking(booking)"
                >EDITAR</button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning gap-2"
                  (click)="delete()"
                >DELETAR</button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog
      [(visible)]="bookingDialog"
      [style]="{ width: '800px' }"
      header="Product Details"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">Name</label>
          <input
            type="text"
            pInputText
            id="name"
            [(ngModel)]="booking.name"
            required
            autofocus
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && !booking.name }"
          />
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !booking.name"
            >Name is required.</small
          >
        </div>
        <div class="field">
          <p-dropdown
            styleClass="w-full"
            formControlName="procedure"
            [resetFilterOnHide]="true"
            [options]="procedures"
            optionLabel="name"
            [placeholder]="booking.procedure"
          ></p-dropdown>
        </div>
        <div class="field">
          <p-calendar
            styleClass="w-full p-datepicker-inline"
            dateFormat="dd/mm/yy"
            formControlName="date"
            [minDate]="currentDate"
          >
          </p-calendar>
        </div>
        <div class="field">
          <p-dropdown
            styleClass="w-full"
            formControlName="hours"
            [options]="hours"
            optionLabel="name"
            [placeholder]="booking.hours"
          ></p-dropdown>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
