<section class="header">
  <p-toast></p-toast>
  <form [formGroup]="userForm" (ngSubmit)="saveCliente()">
    <!-- header page -->
    <div class="flex justify-content-between">
      <h1 class="">Novo Cliente</h1>
      <div class="flex justify-content-center">
        <div class="flex gap-3">
          <button
            pButton
            class="p-button-success"
            icon="pi pi-save"
            label="Salvar"
            type="submit"
            [disabled]="this.userForm.invalid"
          ></button>
          <button
            pButton
            class="p-button-warning"
            icon="pi pi-times-circle"
            label="Cancelar"
            type="button"
            (click)="cancel()"
          ></button>
        </div>
      </div>
    </div>
    <!-- content page -->
    <section class="content pt-5 grid">
      <div class="field p-float-label col-6">
        <input class="w-full" pInputText formControlName="name" type="text" />
        <label>Nome</label>
      </div>

      <div class="field p-float-label col-6">
        <input
          class="w-full"
          pInputText
          formControlName="email"
          type="email"
          email="true"
        />
        <label>E-mail</label>
      </div>

      <div class="field p-float-label col-4">
        <p-inputMask
          mask="(99) 9 9999-9999"
          styleClass="w-full"
          formControlName="phone"
        />
        <label>Telefone</label>
      </div>

      <div class="field p-float-label col-4">
        <p-dropdown
          styleClass="w-full"
          formControlName="gender"
          [options]="genders"
          placeholder="Sexo"
        ></p-dropdown>
        <label>Sexo</label>
      </div>

      <div class="field p-float-label col-4">
        <p-calendar
          styleClass="w-full"
          dateFormat="dd/mm/yy"
          formControlName="dob"
          [maxDate]="currentDate"
        >
        </p-calendar>
        <label>Data Nasc.</label>
      </div>
    </section>
  </form>
</section>
